<table class="px2-table" style="width: 100%;">
{% for key, value in page_info %}
    <tr>
        <th>{{ key }}</th>
        <td><input type="text" name="{{ key }}" value="{{ value }}" class="px2-input" /></td>
    </tr>
{% endfor %}
</table>
