<div class="px2-form-input-list">
	<ul class="px2-form-input-list__ul">
		<li class="px2-form-input-list__li" data-name="blog_id">
			<div class="px2-form-input-list__label"><label for="blog_id">ブログID</label></div>
			<div class="px2-form-input-list__input">
				<p class="px2-note">半角英数字、ハイフン、アンダースコア で構成してください。</p>
				<input type="text" id="blog_id" name="blog_id" value="" class="px2-input px2-input--block" />
			</div>
		</li>
	</ul>
</div>
