@import "../../../vendor/pickles2/px2style/dist/themes/default";

@media (prefers-color-scheme: dark) {
:root {
	--px2-text-color: #ddd;
	--px2-background-color: #333;
}

@layer base{
	pre.code {
		code {
			border: 1px solid #555;
			background-color: #222;
		}
	}
}

.theme-frame {
	background-color: #222;
}
.theme-title {
	background-color: #222;
	border-bottom: 1px solid #111;
}
.theme-title h1 {
	margin: 0;
	font-size: 22px;
	color: #fff;
}
.theme-title__text-small {
	display: block;
	font-weight: normal;
	font-size: 14px;
	color: #999;
}
.theme-layout{
	&__header {
		background-color: #111;
		a {
			color: #aaa;
		}
	}
	&__left-navbar {
		a, button {
			color: #ddd;
		}
		.current {
			span {
				border-left-color: #fff;
			}
		}

		&__foot-menu {
			li {
				border-top: 1px solid #444;
			}
			.current {
				background-color: #f6f6f610;
			}
		}
	}
	&__footer {
		border-top-color: #666;
	}
}

[data-px="admin.page_info"] {
	@import "./../../cloverMain/views/PageInfo_files/darkmode";
}
[data-px="admin.sitemap"] {
	@import "./../../cloverMain/views/Sitemap_files/darkmode";
}
[data-px="admin.publish"] {
	@import "./../../cloverMain/views/Publish_files/darkmode";
}

// px2te の darkmode
@import "./../../../vendor/pickles2/lib-px2-theme-editor/dist/themes/darkmode";

// gitui79 の darkmode
@import "./../../../node_modules/gitui79/dist/themes/darkmode";

// common-file-editor の darkmode
@import "./../../../node_modules/@tomk79/common-file-editor/dist/themes/darkmode";

}

@media (prefers-color-scheme: light) {
}

// remote-finder の auto mode
@import "./../../../vendor/tomk79/remote-finder/dist/themes/default";
