.cont-layout-breadcrumb {
	margin: 1em 0;
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		li {
			margin: 0;
			padding: 0;
			list-style-type: none;
			&::after {
				content: ">";
				margin: 0 5px;
			}
		}
		li:last-child {
			&::after {
				content: "";
				margin: 0;
				display: none;
			}
		}
	}
}

.cont-menubar {
	margin: 1em 0;
	ul, li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	ul {
		margin: 10px 0;
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
	}
}

.cont-layout {
	margin: 1em 0;
	display: flex;
	gap: 20px;
	&__main {
		width: calc(100% - 220px);

		.px2-table {
			th, td {
				word-wrap: break-word;
				word-break: break-all;
			}
		}
	}
	&__right-navibar {
		width: 200px;
	}
	@media all and (max-width: 880px) {
		flex-direction: column;
		&__main {
			width: 100%;
		}
		&__right-navibar {
			width: 100%;
		}
	}
}

.cont-pagenavi {
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
	a {
		display: block;
		padding: 5px 10px;
	}
	&__current > a {
		font-weight: bold;
	}
	&__parent {
		border-bottom: 1px solid #ddd;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
	}
	li a {
		padding-left: 10px;
	}
	li li a {
		padding-left: 30px;
	}
	li li li a {
		padding-left: 50px;
	}
}

.cont-page-list-table {
	word-wrap: break-word;
	word-break: break-all;

	table {
		width: 100%;
	}
	th, td {
		border-bottom: 1px solid #ddd;
		padding: 10px 10px 3px 10px;
	}
	th {
		text-align: right;
		font-size: 12px;
		color: #666;
		width: 30%;
		font-weight: normal;
	}
	td {
		text-align: left;
		width: 70%;
	}

	@media all and (max-width: 580px) {
		table, thead, tbody, tr, th, td {
			display: block;
			width: auto;
			text-align: left;
		}
		th {
			border: none;
			padding: 10px 0 3px 0;
		}
		td {
			padding: 3px 0 3px 30px;
			min-height: 1em;
		}
	}
}

// BlogKit統合
.cont-blog-kit {
}

.cont-blog-kit-article-list-item {
	display: flex;
	gap: 10px;
	&__title {
		flex-grow: 10;
	}
	&__update_date {
		flex-grow: 0;
	}
}
