.cont-layout-breadcrumb {
	margin: 1em 0;
	ul {
		margin: 0;
		padding: 0;
		display: block;
		flex-wrap: wrap;
		li {
			margin: 0;
			padding: 0;
			list-style-type: none;
			display: inline;
			&::after {
				content: "";
				display: inline-block;
				width: .4em;
				height: .4em;
				border-top: 1px solid #000;
				border-right: 1px solid #000;
				transform: rotate(45deg);
				margin-left: 9px;
				margin-right: 9px;
				vertical-align: middle;
				position: relative;
				top: -0.1em;
			}
		}
		li:last-child {
			&::after {
				content: "";
				margin: 0;
				display: none;
			}
		}
	}
}

.cont-menubar {
	margin: 1em 0;
	ul, li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	ul {
		margin: 10px 0;
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
	}
}

.cont-layout {
	margin: 1em 0;
	display: flex;
	gap: 20px;
	&__main {
		width: calc(100% - 220px);

		.px2-table {
			th, td {
				word-wrap: break-word;
				word-break: break-all;
			}
		}
	}
	&__right-navibar {
		width: 200px;
	}
	@media all and (max-width: 880px) {
		flex-direction: column;
		&__main {
			width: 100%;
		}
		&__right-navibar {
			width: 100%;
		}
	}
}

.cont-pagenavi {
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
	background-color: #fff;
	a {
		display: block;
		padding: 15px 10px;
		&:hover {
			opacity: 0.8;
		}
	}
	&__current > a {
		font-weight: bold;
	}
	&__parent {
		a {
			padding-top: 8px;
			padding-bottom: 8px;
			background-color: #f6f6f6;
			&::before {
				content: "";
				display: inline-block;
				width: .4em;
				height: .4em;
				border-top: 1px solid #000;
				border-right: 1px solid #000;
				transform: rotate(-45deg);
				margin-right: 9px;
				vertical-align: middle;
				position: relative;
			}
		}
	}
	ul {
		margin: 0;
		padding: 0;
		border-top: 1px dotted #999;
		li {
			margin: 0;
			padding: 0;
			list-style-type: none;
			border-bottom: 1px dotted #999;
			&:last-child{
				border-bottom: none;
			}
		}
	}
	> ul:first-child {
		border-top: none;
	}
	li a {
		padding-left: 10px;
	}
	li li a {
		padding-left: 30px;
	}
	li li li a {
		padding-left: 50px;
	}

	&__add-new-page {
		font-size: 12px;
		a {
			color: #000;
			text-decoration: none;
			padding-top: 8px;
			padding-bottom: 8px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

// BlogKit統合
.cont-blog-kit {
}

.cont-blog-kit-article-list-item {
	display: flex;
	gap: 10px;
	&__title {
		flex-grow: 10;
	}
	&__update_date {
		flex-grow: 0;
	}
}
