html, body, #cont-app {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: var(--px2-background-color, #f9f9f9);
}

.theme-layout {
    display: flex;
    flex-direction: column;

    &__header {
        padding: 10px 20px;
        border-bottom: 1px solid #000;
    }

    &__main {
        display: flex;
        gap: 20px;
    }
    &__left-navbar {
        width: 200px;
    }
    &__main-center {
        width: calc(100% - 440px);
    }
    &__right-navbar {
        width: 200px;
    }

    &__footer {
        padding: 10px 20px;
        border-top: 1px solid #000;
        ul {
            padding: 0px;
            margin: 0px;
            display: flex;
            justify-content: center;
            gap: 20px;
            li {
                list-style-type: none;
                padding: 0px;
                margin: 0px;
            }
        }
    }
}

.theme-layout__breadcrumb {
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        li {
            margin: 0;
            padding: 0;
            list-style-type: none;
            &::after {
                content: ">";
                margin: 0 5px;
            }
        }
        li:last-child {
            &::after {
                content: "";
                margin: 0;
                display: none;
            }
        }
    }
}