{% extends "/layouts/auth.twig" %}

{% block title %}ログアウトしました{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<p>ログアウトしました。</p>

<div class="auth-form">
    <div class="auth-form__backto">
        <p><a href="{{ url_backto }}">戻る</a></p>
    </div>
</div>
{% endblock %}
{% block foot %}
{% endblock %}
