{% extends "/layouts/default.twig" %}

{% block title %}ログアウトしました{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<p>ログアウトしました。</p>
<p><a href="{{ url_backto }}">戻る</a></p>
{% endblock %}
{% block foot %}
{% endblock %}
