{% extends "/layouts/auth.twig" %}

{% block title %}{{ lang.get('ui_message.logged_out') }}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<p>{{ lang.get('ui_message.logged_out') }}</p>

<div class="auth-form">
    <div class="auth-form__backto">
        <p><a href="{{ url_backto }}">{{ lang.get('ui_label.back') }}</a></p>
    </div>
</div>
{% endblock %}
{% block foot %}
{% endblock %}
