<div class="px2-p">
	<table class="px2-table">
		<thead>
			<tr>
				<th>Content path</th>
				<th>Editor mode</th>
				<th>Progress</th>
			</tr>
		</thead>
		<tbody>
		{% for path_content, contents in contentsList %}
			<tr data-path-content="{{ path_content }}">
				<th>{{ path_content }}</th>
				<td>{{ contents.editor_mode }}</td>
				<td class="cont-progress"></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

<h2>Log</h2>
<div class="px2-p">
	<textarea readonly class="cont-result px2-input px2-input--block" style="height: 12em;"></textarea>
</div>
