{% extends "/layouts/plain.twig" %}

{% block title %}Pickles 2 Admin Console{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ path_client_resources }}gitui79/gitui79.css" />
    <link rel="stylesheet" href="{{ path_client_resources }}cloverMain/cloverMain.css" />
{% endblock %}
{% block content %}

    <div id="cont-app"></div>

{% endblock %}
{% block foot %}
    <script src="{{ path_client_resources }}gitui79/gitui79.js"></script>
    <script src="{{ path_client_resources }}cloverMain/cloverMain.js"></script>
{% endblock %}
