{% extends "/layouts/plain.twig" %}

{% block title %}Pickles 2 Admin Console{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ path_client_resources }}gitui79/gitui79.css" />
    <link rel="stylesheet" href="{{ path_client_resources }}cloverMain/cloverMain.css" />
    <style>
        :root {
            --px2-main-color: #00a0e6;
            --px2-text-color: #333;
            --px2-background-color: #f9f9f9;
        }
    </style>
{% endblock %}
{% block content %}

    <div id="cont-app"></div>

{% endblock %}
{% block foot %}
    <script src="{{ path_client_resources }}gitui79/gitui79.js"></script>
    <script src="{{ path_client_resources }}cloverMain/cloverMain.js"></script>
{% endblock %}
