<div class="px2-form-input-list">
	<ul class="px2-form-input-list__ul">
		<li class="px2-form-input-list__li">
			<div class="px2-form-input-list__label"><label for="form-element--name">Site name</label></div>
			<div class="px2-form-input-list__input">
				<input type="text" id="form-element--name" name="name" value="{{ name }}" class="px2-input px2-input--block" />
			</div>
		</li>
		<li class="px2-form-input-list__li">
			<div class="px2-form-input-list__label"><label for="form-element--domain">Domain</label></div>
			<div class="px2-form-input-list__input">
				<input type="text" id="form-element--domain" name="domain" value="{{ domain }}" class="px2-input px2-input--block" />
			</div>
		</li>
		<li class="px2-form-input-list__li">
			<div class="px2-form-input-list__label"><label for="form-element--copyright">Copyright</label></div>
			<div class="px2-form-input-list__input">
				<input type="text" id="form-element--copyright" name="copyright" value="{{ copyright }}" class="px2-input px2-input--block" />
			</div>
		</li>
	</ul>
</div>
