{% extends "/layouts/default.twig" %}

{% block title %}ページ情報{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

<p><a href="?PX=admin.edit_contents">コンテンツを編集する</a></p>
<p><a href="{{ url_backto }}">戻る</a></p>
<p><a href="?PX=admin.logout">ログアウト</a></p>

{% endblock %}
{% block foot %}
{% endblock %}
