// preview footer
.px2-clover-footer-menubar {
    @import "../../vendor/pickles2/px2style/px2style/px2style";

    &,
    input,
    textarea,
    select,
    option,
    button {
    	font-family: "Hiragino Sans", "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Meiryo","メイリオ", "YuGothic", "Yu Gothic", "游ゴシック体", "游ゴシック", sans-serif, system-ui;
    }

    & {
        position:fixed; right: 10px; bottom: 10px;
        padding: 10px 20px;
        background-color: rgba(120, 120, 120, 0.8);
        border-radius: 20px;
    }

}
