<link rel="stylesheet" href="{{ path_client_resources }}previewFooter/previewFooter.css" />
<script src="{{ path_client_resources }}previewFooter/previewFooter.js"></script>
<div class="px2-clover-footer-menubar">
{% if px2conf.allow_pxcommands %}
<button type="button" class="px2-btn" onclick="location.href='?PX=admin.page_info';">ページ情報</button>
<button type="button" class="px2-btn" onclick="location.href='?PX=admin.edit_contents&backto=preview';">記事編集</button>
{% else %}
<p>Pickles 2 Clover を利用するには、<code>$conf-&gt;allow_pxcommands</code>フラグを <code>1</code> に設定してください。</p>
{% endif %}
</div>
