<link rel="stylesheet" href="{{ path_client_resources }}previewFooter/previewFooter.css?t={{ 'now'|date('U') }}" data-px2-clover-preview-widget="assets" />
<script src="{{ path_client_resources }}previewFooter/previewFooter.js?t={{ 'now'|date('U') }}" data-px2-clover-preview-widget="assets"></script>
<div class="px2-clover-preview-widget px2-clover-preview-widget--menubar" data-px2-clover-preview-widget="menubar">
{% if px2config.allow_pxcommands %}
{% if current_page_info.id|length <= 0 %}
<a href="?PX=admin" class="px2-btn">ダッシュボード</a>
{% else %}
<a href="?PX=admin.page_info" class="px2-btn">ページ情報</a>
{% endif %}
<a href="?PX=admin.edit_content&amp;backto=preview" class="px2-btn">記事編集</a>
{% else %}
<p>Pickles 2 Clover を利用するには、<code>$conf-&gt;allow_pxcommands</code>フラグを <code>1</code> に設定してください。</p>
{% endif %}
</div>
