@layer base{
    html, body, #cont-app {
        padding: 0;
        margin: 0;
        height: 100%;
        background-color: #ccc;
    }
    body,input,textarea,select,option,button{
        font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif, system-ui;
    }
    a {
        color: #00a0e6;
        text-decoration: none;
        &:hover {
            color: #2a6496;
            text-decoration: underline;
        }
    }
    pre.code {
        code {
            display: block;
            overflow: auto;
            max-width: 100%;
            padding: 10px 20px;
            border: 1px solid #999;
            border-radius: 5px;
            background-color: #f6f6f6;
        }
    }
}
