html, body, #cont-app {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #555;
}
body,input,textarea,select,option,button{
	font-family: "Hiragino Sans", "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Meiryo","メイリオ", "YuGothic", "Yu Gothic", "游ゴシック体", "游ゴシック", sans-serif, system-ui;
}
a {
    color: #00a0e6;
    text-decoration: none;
    &:hover {
        color: #2a6496;
        text-decoration: underline;
    }
}
pre.code {
    code {
        display: block;
        overflow: auto;
        max-width: 100%;
        padding: 10px 20px;
        border: 1px solid #999;
        border-radius: 5px;
        background-color: #f6f6f6;
    }
}
